* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background:  	#9400D3;
}

.footer {
  text-align: center;
  padding: 10px;
}
.clock{
	width: 100%;
	margin: 5px 0;
	text-align: center;
	color: black;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: purple;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.input-group {
  width: 100%;
  padding: 20px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ebdef0;
}

input[type=text]{
    border: 2px solid black;
    border-radius: 4px;
	padding: 20px;
    margin: 5px 0 22px 0;
	width: 15%;
}

.submit {
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: purple;
  border: none;
  border-radius: 5px;
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}